.card{
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    transition: ease all .5s
}
.card > img {
    height: 205px;
    width: 100%;
    object-fit: cover;
}
.card > p {
    padding-left: 10px;
    opacity: .5;
    text-transform: uppercase;
    font-weight: bold;
}
.card ul{
    list-style-type: none;
    font-style: italic;
    opacity: .5;
    padding-left: 10px;
}
.card:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}