html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}